* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.custom-navbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-nav > li > a:hover {
  color: #ff6b6b;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
  border-bottom: none;
}